<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="admin.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="container">
      <section class="menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/usuarios">Cadastro de Usuário</a></li>
          <li><a href="/sair">Logout</a></li>
        </ul>
      </section>

      <section class="conteudo">
        <h1><%= user %></h1>
      </section>
    </section>
  </body>
</html>
