<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Modelo</title>
    <link rel="stylesheet" href="../admin.css" />
  </head>

  <body>
    <section class="container">
      <section class="menu">
        <ul>
          <li><a href="/admin">Home</a></li>
          <li><a href="/usuarios">Cadastro de Usuário</a></li>
          <li><a href="/sair">Logout</a></li>
        </ul>
      </section>

      <section class="conteudo">
        <h1>Formulário de cadastro</h1>
        <form action="/usuarios" method="POST" class="formulario">
          <label>Nome:</label>
          <input type="text" class="nome validar" name="nome" id="nome" />
          <label>Usuário:</label>
          <input
            type="text"
            class="usuario validar"
            name="usuario"
            id="usuario"
          />
          <label>Senha:</label>
          <input
            type="password"
            class="senha validar"
            name="senha"
            id="senha"
          />
          <label>Tipo:</label>
          <input type="text" class="tipo validar" name="tipo" id="tipo" />
          <label>Status</label>
          <input
            type="text"
            class="usuario validar"
            name="status"
            id="status"
          />
          <button type="submit">Enviar</button>
        </form>
      </section>
    </section>
    <!-- <script src="./public/validaCpf.js"></script>
    <script src="./public/main.js"></script> -->
  </body>
</html>
